<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="header__container">
        <a href="/client/index.html" class="logo">HayatStroy</a>
        <nav class="header__desctop-nav">
          <ul class="header__desctop-nav__items">
            <li class="nav-item header__desctop-nav__item"><a href="/client/gallery.html" class="link">Галерея</a></li>
            <li class="nav-item header__desctop-nav__item"><a href="#" class="link">Новинки</a></li>
            <li class="nav-item header__desctop-nav__item"><a href="#" class="link">Хиты сезона</a></li>
            <li class="nav-item header__desctop-nav__item"><a href="#" class="link">Новости</a></li>
            <li class="nav-item header__desctop-nav__item"><a href="/client/about.html" class="link">О нас</a></li>
          </ul>
        </nav>
        <burger class="burger"><span></span></burger>
        <nav class="header__mobile-nav">
          <ul class="header__mobile-nav__items">
            <li class="nav-item header__mobile-nav__item"><a href="/client/gallery.html" class="link">Галерея</a></li>
            <li class="nav-item header__mobile-nav__item"><a href="#" class="link">Новинки</a></li>
            <li class="nav-item header__mobile-nav__item"><a href="#" class="link">Хиты сезона</a></li>
            <li class="nav-item header__mobile-nav__item"><a href="#" class="link">Новости</a></li>
            <li class="nav-item header__mobile-nav__item"><a href="/client/about.html" class="link">О нас</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
