.gallery {
  &__container {
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 5px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    overflow: hidden;
    aspect-ratio: 1 / 1;
  }
}
