.gallery {
    &__container {
    }
  
    &__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
      gap: 5px;
    }
  
    &__item {
      display: flex;
      flex-direction: column;
      background-color: yellow;
      overflow: hidden;
      aspect-ratio: 1 / 1;
    img{
        display: block;
        width: 100%;
        min-height: 100%;
        object-fit: fill;
        flex-grow: 1;
    }


    }
  }