$indigo: #461873ff;
$indigo-2: #58148eff;
$grape: #6910a8ff;
$dark-violet: #8c07ddff;
$veronica: #9f21e3ff;
$electric-purple: #b333e9ff;
$heliotrope: #cb5df1ff;
$violet-web-color: #dc93f6ff;
$mauve: #eabffaff;
$pale-purple: #f7ebfdff;

$light-gray: rgb(167 167 167);

//social
$whatsapp-light: #5ffc7b;
$whatsapp-dark: #28d146;
